global
    log stdout format raw local0 info
    maxconn 50000
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  http-server-close
    option  forwardfor except 127.0.0.0/8
    option  redispatch
    retries 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn 30000

# HAProxy Statistics
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
    http-request use-service prometheus-exporter if { path /metrics }
    stats show-legends

# APISIX HTTP Frontend
frontend apisix_http
    bind *:80
    mode http
    option httplog
    default_backend apisix_http_backend

# APISIX HTTPS Frontend
frontend apisix_https
    bind *:443
    mode tcp
    option tcplog
    default_backend apisix_https_backend

# APISIX HTTP Backend
backend apisix_http_backend
    mode http
    balance roundrobin
    option httpchk GET /
    http-check expect status 404
    
    server apisix1 apisix1:9080 check inter 2000 rise 2 fall 3
    server apisix2 apisix2:9080 check inter 2000 rise 2 fall 3
    server apisix3 apisix3:9080 check inter 2000 rise 2 fall 3

# APISIX HTTPS Backend
backend apisix_https_backend
    mode tcp
    balance roundrobin
    option tcp-check
    
    server apisix1 apisix1:9443 check inter 2000 rise 2 fall 3
    server apisix2 apisix2:9443 check inter 2000 rise 2 fall 3
    server apisix3 apisix3:9443 check inter 2000 rise 2 fall 3
